/**  \page XMLStructs XML structs
	
This is the index of all XML structs used in the project.

\par \anchor XMLInterMixInitSendFromLast	
1. XML Message send from LastMix to Mix \e n-1 during cascade init
	\verbinclude InterMix-LastMix-to-Successor.xml

\par \anchor XMLInterMixInitAnswer
2. Answer send from Mix \e n-1 to Mix \e n during cascade init
	\verbinclude InterMix-KeyExchange-Answer.xml

*/