[Unit]
Description=AN.ON mix (%i)
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=/etc/mix/%i.conf
Type=forking
ExecStart=/bin/sh -c "${MixExec} -c ${MixConfig} ${MixArgs}"

[Install]
WantedBy=multi-user.target
