/**  \page pageMixConfig Configuration file for Mixes

\section docMixConfig Information about the configuration file used by a Mix
A Mix takes its configuration information from a XML file. This file could be created
by using the <A HREF="http://anon.inf.tu-dresden.de/develop/MixConfig.html"> MixConfig tool</A>. 
Have a look at the <A HREF="http://anon.inf.tu-dresden.de/develop/doc/mixconfig/">
documentation of the MixConfig tool</A> for
information about the content of the configuration file.

*/